<h2>Home Page</h2>
<div ng-repeat="character in characters" class="col-md-6">
	<div class="media well">
		<div class="media-left media-middle">
			<img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="media-object img-circle" style="width:150px;height:150px;">
		</div>
		<div class="media-body">
			<h4 class="media-heading">{{character.name}}</h4>
			<p>{{ character.description | limitTo:100 }}<span ng-if="character.description.length > 100">...</span></p>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<h5 ng-if="character.comics.items.length">Comics Relacionados</h5>
			</div>
			<div ng-repeat="(key, comic) in character.comics.items" class="col-md-6">
				<p ng-if="key < 4"><a href="#" ng-click="search_comic(comic.resourceURI)">{{comic.name}}</a></p>
			</div>
		</div>
	</div>
</div>
